<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="colors.css" rel="stylesheet" />
    <link href="messages.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('partials/heading.ejs') %>
    <% if (locals.messages) { %>
      <main class="message-container">
      <% messages.forEach((message) => {%>
        <div class="message-card">
          <h2><%= message.messagetitle %></h2>
          <p><%= message.message %></p>
          <div class="message-info">
          <% if (locals.currentUser) { %>
              <% if (locals.currentUser.member) { %>
                <p><%= format(message.messagetime) %></p>
                <p><%= message.username %></p>
              <%} else {%>
                <p>???</p> 
                <p>Anon</p>
              <% } %>
            <% } else { %>
              <p>???</p> 
              <p>Anon</p>
            <% } %>
          </div>
          <% if (locals.currentUser) {%>
            <% if (locals.currentUser.admin) {%>
              <a href="/messages/delete/<%= message.messageid %>">Delete</a>
            <%}%>
        <%}%>
        </div>
      <%})%>
      </main>
      <% if (locals.currentUser) { %>
        <div class="message-form">
          <form action="/messages/new" method="post">
            <label for="messagetitle"></label>
            <input type='text' name="messagetitle" placeholder="Title" />
            <label for="message"></label>
            <input type="text" name="message" placeholder="Hello World..." />
            <button type="submit">Post</button>
          </form>
        </div
      <%}%>
    <% } else { %>
    <main class="error">
      <p>Failed to fetch messages</p>
    </main>
    <% } %>
  </body>
</html>
