<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Messages</title>
  </head>
  <body>
    <% if (locals.messages) { %>
    <main class="messages-content">
      <% messages.forEach((message) => { %>
      <div class="message-card">
        <h2><%= message.messagetitle %></h2>
        <p><%= message.message %></p>
        <p><%= formatDate(message.messagetime) %></p>
        <div class="messenger">
          <% if (!user.member) { %>
            <p>Anon</p>
          <%}%> 
          <% if (user.member) { %>
            <p><%= user.username %></p>
          <%}%>
        </div>
        <% if (user.admin) { %>
        <a href="/messages/delete/<%= message.messageid %>">
          <div class="delete">
            <p>Delete</p>
          </div>
        </a>
        <% } %>
      </div>
      <%})%>
    </main>
    <% } %>
    <a href="/messages/new">
      <div class="messages-create">
        <p>New Message</p>
      </div>
    </a>
    <a href="/join">
      <div class="join-test">
        <p>Join Club</p>
      </div>
    </a>
  </body>
</html>
