<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Messages</title>
  </head>
  <body>
    <% if (locals.messages) { %>
    <% if (user.member) { %>
    <form action="/messages/new" method="post">
      <h2>Create Post</h2>
      <label for="message-title">Message Title</label>
      <input type="text" id="message-title" name="messagetitle" />
      <label for="message">Message</label>
      <input type="text" id="message" name="message" />
      <button type="submit">Create</button>
    </form>
    <%}%>
    <% if (!user.member) {%>
      <div class="join-promt">
      <p>Want to yap, <a href="/join">visit here!</a></p>
    </div>
    <%}%>
    <main class="messages-content">
      <% messages.forEach((message) => { %>
      <div class="message-card">
        <h2><%= message.messagetitle %></h2>
        <p><%= message.message %></p>
        <p><%= formatDate(message.messagetime) %></p>
        <div class="messenger">
          <% if (!user.member) { %>
            <p>Anon</p>
          <%}%> 
          <% if (user.member) { %>
            <p><%= user.username %></p>
          <%}%>
        </div>
        <% if (user.admin) { %>
        <a href="/messages/delete/<%= message.messageid %>">
          <div class="delete">
            <p>Delete</p>
          </div>
        </a>
        <% } %>
      </div>
      <%})%>
    </main>
    <% } %>
  </body>
</html>
